@import '../../global.scss';


#about {
  background: linear-gradient(0deg, rgba(24, 24, 24, 1) 31%, rgba(24, 24, 24, 0) 83%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    letter-spacing: 3px;
    font-family: $h1Font;
    font-weight: bold;
    font-size: 2.3em;
    color: $pink;
    margin-top: 10px;

    @media screen and (max-width: 990px) {
      font-size: 2em;
    }

    @media screen and (max-width: 693px) {
      font-size: 1.4em;
      margin-top: 5px;
      font-family: $fontTwo;
    }
    @media screen and (max-width: 370px) {
      font-size: 1.2em;
      margin: 0 0 5px 0;
    }
  }

  .top {
    color: #FFF;

    .textDiv {
      border: 3px solid #FFF;
      margin: 30px 21px 10px;
      padding: 20px;
      background-color: $background;

      @media screen and (max-width: 555px) {
        padding: 10px 6px 1px 10px;
        margin: 5px 10px 0;
      }

      .aboutText {
        max-width: 1200px;
        font-size: 1.2em;
        font-weight: 300;

        @media screen and (max-width: 990px) {
          font-size: 1.1em;
        }

        @media screen and (max-width: 555px) {
          font-size: .9em;
          letter-spacing: .7px;
          margin-top: 3px;
        }

        .displayText {
          @media screen and (max-width: 693px) {
            display: none;

          }
        }
      }

      .name {
        @media screen and (max-width: 555px) {
          margin: 0;
        }
      }


      .aboutTextBot {
        margin-bottom: 0;
        max-width: 1200px;
        font-size: 1.4em;
        font-weight: 300;

        @media screen and (max-width: 990px) {
          font-size: 1.1em;
        }

        @media screen and (max-width: 555px) {
          height: 55px;
          font-size: 1em;
          margin: 3px 0 0 0;
        }
      }

      .contactLink {
        text-decoration: none;
        text-underline-offset: 3px;
        color: #FFF;
        font-weight: 400;
        margin-top: 5px;
        position: relative;
        z-index: 2000;

      }

      .contactLink:hover {
        color: $pink;
        font-weight: 500;
      }

      .btnDiv {
        text-align: center;
        width: 100%;

        @media screen and (max-width: 693px) {
          text-align: right;
          position: relative;
          right: 8px;
          bottom: 38px;
        }
        @media screen and (max-width: 360px) {
          margin: 0 0 10px 5px;
        }

        a {
          text-decoration: none;
        }

        button {
          margin: 10px;
          outline: none;
        }

        .custom-btn {
          width: 210px;
          height: 52px;
          border: 2px solid #FFF;
          font-weight: 500;
          background: rgba(14, 13, 13, .6);
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;

          @media screen and (max-width: 1333px) {
            width: 180px;
            height: 49px;
          }

          @media screen and (max-width: 555px) {
            width: 108px;
            height: 32px;
            border: 1px solid #FFF;
          }

        }

        .btn-text {
          font-family: $mainFont;
          font-weight: 300;
          font-size: 1.4em;
          color: #FFF;
          position: relative;
          margin: 0;
          padding-top: 4px;

          @media screen and (max-width: 555px) {
            padding: 0;
            font-size: 1.1em;
            bottom: 4px;
          }

        }

        .btn-3 {
          line-height: 39px;
          padding: 0;
        }

        .btn-3 span {
          position: relative;
          color: #FFF;
          display: block;
          width: 100%;
          height: 100%;
        }

        .btn-3:before,
        .btn-3:after {
          position: absolute;
          content: "";
          left: -1px;
          top: -1px;
          background: #FFF;
          transition: all 0.3s ease;
        }

        .btn-3:before {
          height: 0%;
          width: 3px;
        }

        .btn-3:after {
          width: 0%;
          height: 3px;
        }

        .btn-3:hover:before {
          height: 100%;
        }

        .btn-3:hover:after {
          width: 100%;
        }

        .btn-3 span:before,
        .btn-3 span:after {
          position: absolute;
          content: "";
          right: -1px;
          bottom: -1px;
          background: #FFF;
          transition: all 0.3s ease;
        }

        .btn-3 span:before {
          width: 3px;
          height: 0%;
        }

        .btn-3 span:after {
          width: 0%;
          height: 3px;
        }

        .btn-3 span:hover:before {
          height: 100%;
          color: #FFF;
        }

        .btn-3 span:hover:after {
          width: 100%;
        }

      }
    }
  }

  .bottom {
    text-align: center;

    h1 {
      margin: 20px auto 0;
      padding: 0;

      @media screen and (max-width: 1200px) {
        margin-top: 15px
      }

      @media screen and (max-width: 702px) {
        margin-top: 8px;
        font-size: 1.3em;
        font-weight: 700;
        font-family: $fontTwo;
      }
      @media screen and (max-width: 360px) {
        font-size: 1.2em;
      }
    }

    .listDiv {
      display: inline-block;
      text-align: center;
      color: #FFF;
      font-family: $monoFont;
      border: 3px solid #FFF;
      background-color: $background;
      margin: 35px 10px;
      padding-right: 30px;

      @media screen and (max-width: 990px) {
        margin: 0 10px;
        padding: 0 auto 17px;
      }

      @media screen and (max-width: 555px) {
        position: relative;
        bottom: 2px;
        height: 205px;
        overflow: hidden;
      }
      @media screen and (max-width: 360px) {
        padding-right: 10px;
        height: 158px;
      }

      .skillUl {
        display: inline-block;
        font-size: 1.2em;
        margin: 15px 41px;

        @media screen and (max-width: 1257px) {
          font-size: 1.2em;
          margin: 0;
        }

        @media screen and (max-width: 702px) {
          font-size: .9em;
          text-align: left;
          width: 130px;
          height: 115px;
          display: ruby;
        }

        @media screen and (max-width: 555px) {
          position: relative;
          bottom: 10px;
        }
        @media screen and (max-width: 360px) {
          font-size: .8em;
        }

        .express {
          font-family: $exFont;
        }

        li {
          padding: 10px 8px 5px;
          text-align: left;
          list-style: none;

          // width:182px;
          @media screen and (max-width: 702px) {
            padding: 0;
            width: 120px;
          }


          .skillIcon {
            padding-right: 13px;

            @media screen and (max-width: 1257px) {
              font-size: 1.2em;
              height: 18px;
              width: 18px
            }

            @media screen and (max-width: 702px) {
              padding-right: 5px;
            }
            @media screen and (max-width: 360px) {
              width: 14px;
              height: 14px;
              padding-right: 3px;
            }
          }

          .ejs {
            height: 11px;
            width: 21px;

            @media screen and (max-width: 702px) {
              height: 10px;
              width: 17px;
            }
            @media screen and (max-width: 360px) {
              width:13px;
              height:9px
            }
          }

        }

      }

      .ulFour {

        @media screen and (max-width: 800px) {
          position: relative;
          bottom: 30px;
        }

        @media screen and (max-width: 702px) {
          bottom: 0;
        }

        @media screen and (max-width: 555px) {
          bottom: 50px;
        }
        @media screen and (max-width: 360px) {
          bottom:66px;
        }

      }

      .ulThree {
        @media screen and (max-width: 445px) {
          position: relative;
          bottom: 50px;
        }
        @media screen and (max-width: 360px) {
          bottom:66px;
        }
      }


    }
  }
}