@import '../../global.scss';

.loadScreen {
	color: #fff;
	height: 100vh;
	overflow: hidden;
	background: #0e0d0d;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .lumiText {
	background: 50% 100% / 50% 50% no-repeat
				radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 8vw;
	font-family: $fontTwo, sans-serif;
	animation: reveal 2000ms ease-in-out forwards 200ms,
				glow 2500ms linear infinite 2000ms;
  
	@keyframes reveal {
	  80%{
		letter-spacing: 18px;
	  }
	  100% {
		background-size: 300% 300%;
	  }
	}
	@keyframes glow {
	  40% {
		text-shadow: 0 0 8px #fff;
	  }
	}
  }  
  